@layer components {
	.hero-three-across-tiles {
		.gradient-overlay {
			@apply absolute top-0 left-0 w-full h-full z-[2];
			background: linear-gradient(
				180deg,
				rgba(38, 38, 38, 0) 0%,
				#262626 100%
			);
		}

		.item {
			@apply relative;

			&:hover {
				.item-orb {
					@apply opacity-100;
				}
			}
		}

		.item-inner {
			@apply rounded-[0.5rem] overflow-hidden flex flex-col relative z-[2] bg-black h-full;
		}

		.item-image {
			@apply relative flex justify-center ~px-[1.25rem]/[1.5rem] ~pt-[2.375rem]/[2.875rem];
		}

		.item-content {
			@apply flex flex-col ~gap-[1.25rem]/[1.5rem] ~pt-[1.25rem]/[1.625rem] ~px-[1.25rem]/[1.5rem] ~pb-[1.25rem]/[1.5rem] relative z-[2] flex-1;
		}

		.item-box {
			@apply z-[2] absolute top-0 left-0 h-[0.0313rem] w-[0.0313rem];
			/* animation: moveAroundBox 10s linear infinite; */

			&::before {
				content: "";
				@apply bg-green h-[0.375rem] w-[0.375rem] absolute center-xy z-[2];
			}
		}

		.item-orb {
			@apply absolute center-xy pointer-events-none z-[1] opacity-70 w-[43.25rem] h-[40.75rem];
			@apply transition-opacity duration-[600ms] ease-[ease];
		}

		.item-lines {
			@apply rounded-[0.5rem] overflow-hidden top-0 left-0 w-full h-full pointer-events-none z-[2] absolute;
		}

		.item-r,
		.item-l,
		.item-t,
		.item-b {
			@apply absolute;
		}

		.item-r,
		.item-l {
			@apply w-[0.25rem] h-full;
		}

		.item-t,
		.item-b {
			@apply w-full h-[0.25rem];
		}

		.item-t {
			@apply top-0 right-[100%] translate-y-[-50%];
			background: linear-gradient(-90deg, #6aff96 70%, transparent);
		}

		.item-r {
			@apply bottom-[100%] right-0 translate-x-[50%];
			background: linear-gradient(0deg, #6aff96 70%, transparent);
		}

		.item-b {
			@apply left-[100%] bottom-0 translate-y-[50%];
			background: linear-gradient(90deg, #6aff96 70%, transparent);
		}

		.item-l {
			@apply top-0 left-0 translate-y-[-100%] translate-x-[-50%];
			background: linear-gradient(-180deg, #6aff96 70%, transparent);
		}
	}
}
