@layer components {
	.content-click-drag-carousel {
		.swiper-container {
			.swiper-wrapper {
				transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
			}

			.swiper-slide {
				@apply rounded-[0.5rem] overflow-hidden ~h-[27rem]/[27.5rem] ~w-[19.5rem]/[19.875rem] relative;

				&:hover {
					.ticker {
						@apply translate-x-0;
					}
				}
			}
		}

		.image-overlay {
			@apply mix-blend-multiply h-[16.875rem] w-full absolute top-0 left-0 z-[2];
			background: linear-gradient(
				180deg,
				#a5a5a5 0%,
				rgba(217, 217, 217, 0) 100%
			);
		}

		.ticker {
			@apply translate-x-[-120%] absolute bottom-0 left-0 ~h-[1.25rem]/[1.875rem] w-[16.75rem] z-[3] pointer-events-none;
			@apply transition-transform duration-[0.8s] ease-out;
		}
	}
}
