@layer components {
    .post-pull-quote {
        @apply ~my-[1.75rem]/[2.75rem];
        
        .quote-text {
            @apply !flex flex-wrap !m-0;
        }

        .word {
            background: linear-gradient(to right, #262626 50%, #b6b5b1 50%);
            background-size: 200% 100%;
            background-position-x: 100%;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }

        & + *:not(p) {
            @apply !mt-0;
        }
    }
}