@layer components {
    .content-full-width-image-with-text-overlay {
        .video-container {
			@apply h-full w-full relative aspect-video;
		}

		iframe,
        video {
			@apply absolute center-xy max-w-[unset] w-full aspect-video;
			/* height: calc((100dvw * 9) / 16); */
			min-height: 100svh;
			width: calc((100svh * 22) / 9);
			min-height: 100%;
		}
    }
}