<section class="{{ block.slug }} bg-pitch-black">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	<div class="container relative z-[2]">
		<div class="~pt-[5rem]/[21.875rem] ~pb-[1.5rem]/[3.125rem]">
			<div class="h-full w-full flex items-end justify-end max-sm:min-h-[auto] ~min-h-[41.875rem]/[47.625rem]">
				<div class="flex flex-col ~gap-[1.25rem]/[1.5rem] max-w-[48.375rem]">
					{% if fields.heading or fields.eyebrow %}
						{% include 'components/heading.twig' with {
                            'class': 'main-title text-white',
                            'value': fields.heading.value, 
                            'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                            'has_custom_style': fields.heading.has_custom_style,
                            'style': fields.heading.style,
                            'insert_eyebrow': fields.eyebrow ? true : false,
                            'eyebrow': fields.eyebrow,
                            'textClass' : "text-white-60",
                            'to_words': true
                        } %}
					{% endif %}

					{% if fields.ctas|length %}
						<div class="flex flex-wrap gap-[0.75rem]">
							{% for cta in fields.ctas %}
								{% include 'components/cta.twig' with {
                                    'class': cta.type == 'filled' ? 'filled white' : 'has-border white',
                                    'cta': cta.link, 
                                    'icon': true,
                                } %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{% if fields.image or fields.video %}
		<div class="absolute top-0 left-0 h-full w-full opacity-50">
			{% if fields.media_type == "image" %}
				{% if fields.image %}
					{% include 'components/image.twig' with {
                        'image': fields.image,
                        'class': 'h-full w-full max-w-[none]',
                        'size': "full",
                    } %}
				{% endif %}
			{% else %}
				{% if fields.video %}
					<div class="video-container" data-video="{{ fields.video }}"></div>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}

	<div class="ticker translate-y-[100%] bottom-0 left-0 ~w-[1.25rem]/[1.875rem] ~h-[20rem]/[28.125rem] z-[3] absolute pointer-events-none">
		<svg class="w-full h-auto scale-y-[-1]" width="31" height="449" viewbox="0 0 31 449" fill="none" xmlns="http://www.w3.org/2000/svg">
			<line x1="15.75" y1="-6.55671e-07" x2="15.75" y2="450" stroke="url(#paint0_linear_7843_32626)" stroke-width="30" stroke-dasharray="3 7"/>
			<defs>
				<linearGradient id="paint0_linear_7843_32626" x1="16.75" y1="-6.99382e-07" x2="15.334" y2="450.005" gradientunits="userSpaceOnUse">
					<stop stop-color="#6AFF96" stop-opacity="0"/>
					<stop offset="1" stop-color="#6AFF96"/>
				</linearGradient>
			</defs>
		</svg>
	</div>
</section>

