@layer components {
	.content-timeline {
        .swiper-slide {
            @apply relative sm:w-[29.125rem] h-auto flex flex-col gap-[0.75rem];

            &::after {
                content: '';
                @apply absolute bottom-0 left-0 w-[calc(100%+3rem)] h-[0.0625rem] bg-gray-2;
            }

            &:last-child {
                &::after {
                    @apply w-full;
                }
            }
        }
	}
}
