@layer components {
    .hero-product {
        .acc {
            @apply flex flex-col border-b-[0.0625rem] border-black;
            @apply transition-opacity duration-300 ease-[ease];

            &:first-child {
                @apply border-t-[0.0625rem];
            }

            &:not(.active) {
                @apply opacity-40;
            }

            &.active {
                .acc-head {
                    svg {
                        @apply rotate-45 scale-[110%];
                    }
                }

                .acc-body {
					@apply h-auto opacity-100;
				}
            }
        }

        .acc-head {
            @apply flex justify-between gap-[0.75rem] py-[0.75rem] cursor-pointer;

            svg {
                @apply shrink-0 transition-transform duration-300 ease-[ease];
            }
        }

        .acc-body {
            @apply h-0 overflow-hidden opacity-0 transition-all duration-300 ease-[ease];

            table {
                @apply table-fixed w-full;

                tr {
                    td {
                        @apply border-t-[0.0625rem] border-grey-60 py-[0.75rem];
                    }
                }
            }

            .rich-text {
                a {
                    @apply !text-black;
                }
            }
        }

        .product-images {
            @apply relative z-[2] w-full h-full mix-blend-multiply;

            &:not(.loaded) {
                @apply cursor-pointer;
            }
        }

        .product-single-image {
            @apply relative rounded-[0.5rem] overflow-hidden w-full h-full;

            .product-image.single {
                @apply transition-opacity duration-500 ease-[ease] pointer-events-none;

                &:nth-child(1) {
                    @apply opacity-100;
                }

                &:nth-child(2) {
                    @apply opacity-0;
                }

                &.active {
                    @apply pointer-events-auto;
                }
            }
        }

        .product-image {
            @apply absolute top-0 left-0 right-0 w-full h-full block z-[1];

            &.active {
                @apply z-[2];
            }

            &:not(.single) {
                @apply bg-white object-contain;
            }

            &.single,
            &.solo {
                @apply mix-blend-multiply object-contain;
            }
        }

        .orb {
            @apply ~py-[0.625rem]/[1.3125rem] ~px-[0.625rem]/[0.8125rem] text-center absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] ~h-[3.75rem]/[5.25rem] ~w-[3.75rem]/[5.25rem] bg-[rgba(38,38,38,0.90)] rounded-[50%] overflow-hidden flex items-center justify-center z-[3] pointer-events-none;

            small {
                @apply ~text-[0.625rem]/[0.875rem]
            }
        }
    }
}