@layer components {
	.content-50-50 {
		&.is-inverted {
			.inner {
				@apply md:flex-row-reverse;
			}

			.ticker {
				@apply md:left-[unset] md:right-0;
			}
		}

		.video-container {
			@apply h-full w-full flex items-center;
		}

		iframe {
			@apply w-full aspect-video rounded-[0.375rem] overflow-hidden;
		}
	}
}
