@layer components {
    .content-50-50-overlapping-blocks {
        @apply overflow-clip;
        
        .tag {
            @apply px-[0.75rem] py-[0.5rem] rounded-[2.8125rem] border-[0.0625rem] border-black;
            @apply transition-colors ease-out duration-300;

            &:hover {
                @apply bg-green border-green;
            }
        }
    }
}