@font-face {
    font-family: 'OMRONRobotics Favorit Mono';
    src: url('ABCFavoritMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OMRONRobotics Favorit Mono';
    src: url('ABCFavoritMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OMRONRobotics Favorit Mono';
    src: url('ABCFavoritMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

