@layer components {
	.content-rich-text-rc-start {
		@apply opacity-0;

		& ~ :not(.content-rich-text-rc-end) {
			@apply hidden;
		}
	}

	.content-rich-text {
		.content-outer {
			@apply flex flex-col ~gap-[2rem]/[3rem] ~px-[0rem]/[7.125rem] relative;
		}

		.content {
			@apply ~pr-[0rem]/[17.25rem];
			@apply flex flex-col gap-[1.25rem];
			@apply ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[130%];

			& > *:first-child {
				@apply !mt-0;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
            h6 {
				@apply block ~mt-[1rem]/[1.75rem];
			}

			h6,
			.h6 {
				@apply ~text-[1.25rem]/[1.5rem];
			}

			b,
			strong {
				@apply font-bold;
			}

			a:not(.wp-block-button__link):not(.btn):not(.wp-block-file__button) {
				@apply underline decoration-[0.0625rem] underline-offset-[0.125rem] text-blue;
			}

			ul.wp-block-list,
			ol.wp-block-list {
				@apply flex flex-col gap-[0.75rem];
			}

			ul.wp-block-list {
				list-style-type: disc;
			}

			ol.wp-block-list {
				list-style-type: decimal;
			}

			ul.wp-block-list,
			ol.wp-block-list {
				@apply ml-[1.75rem];
			}

			ul.wp-block-list ul,
			ol.wp-block-list ul {
				list-style-type: circle;
				@apply ml-[1.75rem];
			}

			ol.wp-block-list ol,
			ul.wp-block-list ol {
				list-style-type: lower-latin;
				@apply ml-[3.5rem];
			}

			ul.wp-block-list > li {
				@apply list-none relative;

				&::before {
					content: "";
					@apply absolute top-[0.625rem] left-[-1rem] h-[0.25rem] w-[0.25rem] rounded-[50%] bg-black;
				}
			}

			.wp-block-image {
				img {
					@apply rounded-[0.5rem] overflow-hidden;
				}

				& + figcaption {
					@apply mt-[1rem];
				}

				figure {
					img {
						@apply h-full w-full object-contain;
					}
				}
			}

            .wp-block-buttons {
                @apply flex flex-wrap ~gap-[1.25rem]/[1.5rem];
            }

			.image-fit {
				img {
                    @apply object-contain;
				}
			}

			.wp-block-riovizual-tablebuilder {
				@apply block ~mt-[1rem]/[1.75rem];

				table {
					th,
					td {
						@apply border-t-0 border-x-0 text-black;

						.rv_tb-text {
							@apply p-0;
						}
					}

					th {
						@apply p-[0.75rem] border-black;

						.rv_tb-text {
							@apply font-normal;
							@apply ~text-[1.25rem]/[1.5rem] leading-[130%] font-kh;
						}
					}

					td {
						@apply py-[1.25rem] px-[0.75rem] border-gray-2 bg-white transition-colors duration-300 ease-[ease];

						.rv_tb-element {
							@apply ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[130%];
						}
					}

					tr {
						&:hover {
							td {
								@apply bg-beige;
							}
						}
					}
				}
			}

			.wp-block-columns {
				@apply ~mt-[1rem]/[1.75rem] gap-[1.5rem] mb-0;

				.wp-block-column {
					@apply flex flex-col ~gap-[1.25rem]/[1.5rem];

					& > *:first-child {
						@apply !mt-0;
					}

					.wp-block-image {
						@apply relative rounded-[0.5rem] overflow-hidden h-full w-full;

                        img {
                            /* @apply absolute top-0 left-0 !h-full !w-full; */
                        }
					}
				}
			}

            .wp-block-file {
                @apply flex items-center flex-wrap ~gap-[1.25rem]/[1.5rem] m-0;

                a:not(.wp-block-file__button) {
                    @apply ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[130%];
                }
            }

            .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_image {
                @apply !h-full !w-full !object-cover;
            }
		}

		.social-share-container {
			@apply lg:absolute lg:h-full lg:left-0 lg:top-0 z-[10] max-lg:py-[0.75rem];
		}

		.social-share-inner {
			@apply lg:sticky lg:top-[5rem] lg:will-change-transform flex lg:flex-col gap-[0.75rem] max-lg:justify-between max-lg:items-center;
			backface-visibility: hidden;
		}

		.social-shares {
			@apply flex flex-col max-lg:flex-row;
		}

		.social-share {
			@apply flex items-center justify-center h-[2.5rem] w-[2.5rem] bg-white transition-colors duration-300 ease-[ease] hover:bg-green;
			@apply border-x-[0.0625rem] border-grey-60 max-lg:border-r-[0.0625rem] max-lg:border-l-0 max-lg:border-y-[0.0625rem] max-lg:first:border-l-[0.0625rem] lg:first:border-t-[0.0625rem] lg:border-b-[0.0625rem] cursor-pointer;
		}

		&.is-blog-post {
			@apply relative;

			.inner {
				@apply ~pt-[3rem]/[4rem] relative z-[2];
			}

			.content {
				@apply ~px-[0rem]/[7.125rem];

				& > .wp-block-image {
					@apply ~my-[1rem]/[4.75rem];

                    img {
                        @apply !w-full;
                    }

					/* img {
						@apply lg:min-w-[calc(100%+(10.125rem*2))] relative lg:center-x h-full;
					}

					& + .wp-block-heading {
						@apply mt-0;
					} */
				}
			}

			.content-outer {
				@apply gap-[3rem];
			}
		}
	}
}
