@layer components {
	.content-products-carousel {
		.item {
			@apply max-md:flex-col ~gap-[2.25rem]/[1.25rem] flex items-end absolute top-0 left-0 h-full w-full opacity-0 transition-opacity duration-[300ms] ease-[ease];

			&.active {
				@apply opacity-100 relative;
			}

			&:not(.active) {
				@apply pointer-events-none;

				h4,
				.item-para,
				.item-cta,
				.item-image img,
				.arrows.mobile {
					@apply opacity-0;
				}

				.item-image img {
					@apply translate-x-[20%];
				}
			}

			h4,
			.item-para,
			.item-cta,
			.item-image img,
			.arrows.mobile {
				@apply transition-all duration-[800ms] ease-[ease] delay-300;
			}

			.item-image {
				@apply pointer-events-none w-full md:w-[40.875rem] h-[15.625rem] md:h-[40.875rem] md:absolute md:bottom-[-7.5rem] md:left-[50%] max-md:mx-auto max-md:!transform-none max-lg:!translate-x-[-40%] lg:translate-x-[-40%];

				img {
					@apply object-top max-md:h-auto max-md:w-full;
				}
			}
		}

		.arrows {
			@apply flex gap-[0.75rem] md:right-[3rem] md:bottom-[7.125rem] md:absolute z-[4] opacity-0 pointer-events-none max-md:mr-auto;

			&.active {
				@apply pointer-events-auto opacity-100;
			}

			&.desktop {
				@apply max-md:hidden;
			}

			&.mobile {
				@apply md:hidden;
			}
		}

		.orb {
			@apply absolute top-[-40%] w-[82rem] h-[76.375rem] z-[2] pointer-events-none left-[50%] translate-x-[-50%] max-md:top-[-26%];
		}

        .lottie {
            @apply h-full w-full;

            svg {
                @apply !w-auto !h-auto min-h-full min-w-full;
            }
        }
	}
}
