{% if fields.image %}
	<section class="{{ block.slug }}">
		{% if block.anchor %}
			<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
		{% endif %}
        <div class="overflow-hidden relative ~h-[23.625rem]/[34.25rem] bg-pink-50">
            <div class="parallax absolute center-y h-[180%] w-full">
              
                {% include 'components/image.twig' with {
                    'image': fields.image,
                    'class': "object-cover max-w-none max-h-none min-h-full",
                    'size': "full",
                } %}
            </div>
        </div>
	</section>
{% endif %}

