@layer components {
	.content-stats {
		.main-title {
			.word {
				background: linear-gradient(to right, #262626 50%, #b6b5b1 50%);
				background-size: 200% 100%;
				background-position-x: 100%;
				color: transparent;
				background-clip: text;
				-webkit-background-clip: text;
			}

			.spacer {
				@apply opacity-0;
			}
		}
	}
}
