@layer components {
	.post-blog {
		.box {
			@apply rounded-[0.5rem] overflow-hidden bg-black relative transition-all duration-300 ease-[ease];

			&:hover {
				box-shadow: 0px 0px 40px 0px rgba(38, 38, 38, 0.35);

				.box-orb {
					@apply opacity-100;
				}
			}
		}

		.box-orb {
			@apply absolute ~w-[43.75rem]/[90.75rem] ~h-[43.75rem]/[63.9375rem] ~left-[-15.5rem]/[-32.9375rem] ~top-[2rem]/[-9.375rem] opacity-80 md:opacity-40 transition-opacity duration-300 ease-[ease];
		}
	}
}
