@layer components {
    .content-expanding-blocks {
        .item {
            &.active {
                .image-outer {
                    @apply lg:w-full lg:h-[24.5rem];
                }
            }
        }
    }
}