@layer components {
	.resources-grid {
        .cat-parent {
			&,
			& * {
				@apply cursor-pointer;
			}

            &.active {
				.cat-head {
					svg {
						@apply rotate-180;
					}
				}

                .cat-body {
                    @apply h-auto;
                }

				.cat-body-inner {
					@apply opacity-100 translate-x-0;
				}
			}
        }

        .cat-head {
            @apply gap-[0.5rem];
            
            svg {
                @apply transition-transform duration-300 ease-[ease] will-change-transform;

                path {
                    @apply transition-colors duration-300 ease-[ease];
                }
            }
            
            &:hover {
                svg {
                    path {
                        @apply stroke-white;
                    }
                }
            }
		}

        .cat-body {
            @apply h-0 overflow-y-clip;
        }

        .cat-body-inner {
            @apply pt-[0.75rem] flex flex-col gap-[0.75rem] pl-[0.5rem] pb-[0.125rem] transition-all duration-300 ease-[ease] translate-x-[-1.25rem] opacity-0 will-change-transform;
        }

        .cat-btn,
        .cat-show-all,
        .cat-body-all,
        .cat-head {
            @apply relative w-fit px-[0.75rem] py-[0.5rem] rounded-[2.8125rem] border-[0.0625rem] border-black flex items-center justify-center cursor-pointer h-fit;
			@apply transition-colors duration-300 ease-[ease];

			& > p {
				@apply text-black;
			}

            &:hover,
            &.active,
			&:has(input[type='checkbox']:checked) {
				@apply bg-blue border-blue;

				& > p {
					@apply text-white;
				}
			}
		
			&,
			& * {
				@apply cursor-pointer;
			}
        }

		.cat-btn {
            input {
                @apply absolute top-0 left-0 h-full w-full opacity-0;
            }
		}

		.load-more {
			&:not(.active) {
				@apply hidden pointer-events-none;
			}
		}
	}
}
