@layer components {
	.post-footer-subscribe {
		.form {
			@apply relative overflow-hidden flex max-lg:flex-col ~gap-[1.5rem]/[5rem] ~pl-[1.5rem]/[2.25rem] ~pr-[1.5rem]/[3.5rem] ~py-[2.375rem]/[3rem] border-none bg-blue rounded-[0.5rem];
        }

        .form-inner {
            @apply flex flex-col gap-[0.75rem] lg:basis-[24.625rem] lg:flex-1;
        }

        .form-graphic {
            @apply lg:basis-[19.875rem] relative max-lg:h-[7.75rem];

            img {
                @apply absolute h-auto w-full ~max-w-[12rem]/[19.875rem] max-lg:center-x max-lg:top-0 lg:center-xy;
            }
        }
	}
}
