@layer components {
	.content-embed-script {
		.embed-container {
			@apply min-h-[12.5rem];

			&:not(.active) {
				.embed-inner {
					@apply invisible opacity-0 translate-y-[2.5rem];
				}
			}
		}

        .embed-inner {
            @apply transition-all duration-300 ease-[ease];
        }

		.ot-privacy-notice-language-dropdown-container {
			@apply mb-[2rem];
		}

		.otnotice {
			.otnotice-content {
				@apply m-0 p-0 grid ~gap-[1.5rem]/[4rem];
				grid-template-columns: 17.375rem minmax(0, 1fr);
				@apply max-md:grid-cols-1;
			}

			.otnotice-menu {
				@apply relative top-0 m-0 h-fit w-full p-0 bg-transparent shadow-none border-none flex flex-col ~gap-[1rem]/[1.125rem] overflow-visible;

				.otnotice-menu-section {
					@apply m-0 w-full ~text-[1.0625rem]/[1.125rem] leading-[130%] font-kh font-medium;

					a {
						@apply !text-black;
					}
				}

                &.will-stick {
                    @apply md:sticky md:top-[7.5rem];
                }
			}

			.otnotice-menu-mobile {
				@apply w-full mb-0 bg-transparent shadow-none border-none;

				.otnotice-menu-selected,
				.otnotice-menu-section-mobile a {
					@apply ~text-[1.0625rem]/[1.125rem] leading-[130%] font-kh font-medium !text-black text-left m-0 p-0;
				}

                .otnotice-menu-selected-container {
                    @apply !hidden;
                }

                .otnotice-menu-mobile-container {
                    @apply !flex flex-col ~gap-[1rem]/[1.125rem] bg-transparent border-b-[0.0625rem] border-b-gray-2 pb-[1.875rem];
                }
			}

			.otnotice-version {
				@apply !hidden;
			}

			.otnotice-sections {
				@apply m-0 ~pr-[0rem]/[14.25rem];
			}

			.otnotice-section {
				@apply relative ~top-[-1.5rem]/[-4rem];
                
                &:first-child {
                    &:not(:has(.otnotice-section-header)) {
                        @apply top-0 ~pb-[1.5rem]/[4rem];
                    }
                }

				p {
					& > span {
						@apply !~text-[1.0625rem]/[1.125rem] !font-kh !font-normal !leading-[130%];
					}
				}

				.otnotice-section-header {
					@apply ~pt-[1.5rem]/[4rem];
				}

				.otnotice-section-header,
				.otnotice-section-content {
					@apply ml-0;
				}

				.otnotice-section-header {
					@apply ~text-[1.5rem]/[2.25rem] font-kh leading-[125%] tracking-[-0.045rem] !text-black font-medium;
				}

				.otnotice-section-content {
					@apply block ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[130%];

                    &, & * {
                        @apply !text-black;
                    }

                    a {
                        @apply !underline !text-blue;
                    }

                    #ot-sdk-cookie-policy {
                        @apply ~pt-[1.5rem]/[2.5rem];
                        
                        h3, h4 {
                            @apply ~text-[1.125rem]/[1.25rem] font-kh leading-[125%] tracking-[-0.045rem] !text-black font-medium;
                        }

                        #cookie-policy-description,
                        section p,
                        table td,
                        table th {
                            @apply !~text-[1.0625rem]/[1.125rem] !font-kh !tracking-normal !leading-[130%] !text-black;
                        }

                        #cookie-policy-description,
                        section p,
                        table td {
                            @apply !font-normal;
                        }

                        section {
                            @apply ~pt-[1.25rem]/[1.5rem];
                        }

                        caption {
                            @apply text-left my-[0.75rem] !text-black-60;
                        }
                    }

                    #ot-sdk-cookie-policy table,
					table {
						@apply w-full !border-none;

                        thead {
                            @apply !bg-transparent;
                        }

						th,
						td {
							@apply border-t-0 border-x-0 text-black !bg-transparent;
						}

						th {
							@apply p-[0.75rem] border-black text-left;

							p {
								@apply m-0;
							}
						}

						td {
							@apply py-[1.25rem] px-[0.75rem] border-gray-2 bg-white transition-colors duration-300 ease-[ease];
						}

						tr {
                            @apply border-x-0;

							&:hover {
								td {
									@apply bg-beige;
								}
							}
						}

						tbody {
							tr {
								&:first-child {
									p {
										@apply m-0;
									}
								}
							}
						}

                        a {
                            @apply !underline !text-blue;
                        }
					}

					ul,
					ol {
						@apply flex flex-col gap-[0.75rem] p-0 ml-[1.75rem];
					}

					ul {
						list-style-type: disc;
					}

					ol {
						list-style-type: decimal;
					}

					ul ul,
					ol ul {
						list-style-type: circle;
						@apply ml-[1.75rem];
					}

					ol ol,
					ul ol {
						list-style-type: lower-latin;
						@apply ml-[3.5rem];
					}

					ul > li {
						@apply list-none relative;

						&::before {
							content: "";
							@apply absolute top-[0.625rem] left-[-1rem] h-[0.25rem] w-[0.25rem] rounded-[50%] bg-black;
						}
					}
				}
			}

            #ot-sdk-btn.ot-sdk-show-settings, #ot-sdk-btn.optanon-show-settings {
                @apply !text-white;
            }
		}
	}
}
