@layer base {
    dialog {
        @apply !outline-none;
        background: none;

        animation: dialogFadeOut 0.5s ease alternate-reverse;
    
        &[open] {
            animation: dialogFadeIn 0.5s ease forwards;
    
            &::backdrop {
                animation: backdropFadeIn 0.5s ease forwards;
            }
        }
    
        &::backdrop {
            animation: backdropFadeOut 0.5s ease forwards;
        }
    }
}

@keyframes dialogFadeIn {
	from {
		transform: translateY(2.5rem);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes dialogFadeOut {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(2.5rem);
	}
}

@keyframes backdropFadeIn {
	from {
		background: hsl(0 0% 0% / 0%);
	}

	to {
		background: rgba(38, 38, 38, 0.60);
	}
}

@keyframes backdropFadeOut {
	from {
		background: rgba(38, 38, 38, 0.60);
	}

	to {
		background: hsl(0 0% 0% / 0%);
	}
}