@layer base {
	.footer {
		@apply bg-black relative z-[99];

        &__logo {
            svg {
                /* @apply w-auto h-[2.5rem]; */
                @apply w-auto h-[1.75rem] max-md:h-[1.75rem];

                path {
                    @apply fill-white;
                }
            }
        }

		&__inner {
			@apply flex ~py-[4rem]/[6rem] gap-[3rem] xl:gap-[8.625rem] max-xl:flex-col;
		}

		&__overview {
			@apply w-full md:w-[50%] xl:w-[19.875rem] flex flex-col ~gap-[3rem]/[4rem] shrink-0;
		}

		&__cookie-shortcut {
			#ot-sdk-btn {
				@apply !~px-[1.25rem]/[1.5rem] !py-[0.75rem] !rounded-[3.625rem] !flex !items-center !justify-center !gap-[0.5rem] !w-fit mt-auto;
				@apply !transition-colors !duration-300 !ease-[ease];
				@apply !bg-transparent !border-[0.0625rem] !border-white !text-white;
				@apply !~text-[1.0625rem]/[1.125rem] !font-kh !font-normal !leading-[105%];

				&:hover {
					@apply !bg-white !text-black;
				}

				&.is-cali {
					@apply !text-[0.8125rem];
				}
			}

			&.desktop {
				@apply max-md:hidden;
			}

			&.mobile {
				@apply md:hidden;
			}
		}

		&__form {
			@apply flex flex-col gap-[0.75rem];
		}

		&__form-inner {
			@apply flex flex-col gap-[0.75rem];

			input {
				@apply py-[0.625rem] border-b-[0.0625rem] outline-none border-white-20 bg-transparent;

				&,
				&::placeholder {
					@apply text-white ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[130%];
				}
			}

			a {
				@apply w-full;
			}
		}

		&__columns {
			@apply flex flex-1 ~gap-[1.25rem]/[1.5rem] max-md:grid max-md:grid-cols-2;
		}

		&__column {
			@apply flex-1 flex flex-col ~gap-[1.25rem]/[1.5rem];

			&:not(:last-child) {
				@apply md:pb-[2.0625rem];
			}
		}

		&__group {
			@apply flex flex-col gap-[0.75rem];
		}

		&__credits,
		&__item {
			p {
				@apply text-white-60 ~text-[0.9375rem]/[1rem] font-kh font-normal leading-[130%];
			}
		}

		&__credits {
		}

		&__item {
			&:first-of-type:not(.footer__credits) {
				p {
					@apply text-white;
				}
			}
		}

		&__socials {
			@apply flex flex-col gap-[0.75rem] w-full mt-auto;

			&.desktop {
				@apply max-md:hidden;
			}

			&.mobile {
				@apply md:hidden;
			}
		}

		&__socials-inner {
			@apply flex gap-[-0.0625rem];
		}

		&__social {
			@apply flex cursor-pointer items-center justify-center h-[2.5rem] w-[2.5rem] border border-[#515151] mr-[-0.0625rem];

			img {
				@apply w-[1rem] h-[1rem] object-contain;
			}
		}

		&__foot-inner {
			@apply flex justify-between max-lg:flex-col border-t-[0.0625rem] border-white-20 py-[0.75rem] gap-y-[0.75rem] ~gap-x-[0.75rem]/[2.25rem];
			/* ~pb-[8.125rem]/[0.75rem] */
		}

		&__foot-items {
			@apply flex gap-y-[0.75rem] ~gap-x-[0.75rem]/[2.25rem] flex-wrap lg:max-w-[42.75rem] lg:justify-end max-sm:flex-col;

			.footer__item {
				p {
					@apply !text-white-60;
				}
			}
		}

		&__pre {
			@apply flex flex-col ~gap-[4rem]/[5.5rem];
		}

		&__pre-inner {
			@apply flex max-md:flex-col ~gap-[4rem]/[8.75rem];
		}

		&__pre-content {
			@apply md:basis-[55.375rem] flex flex-col ~gap-[1.5rem]/[2.25rem] flex-1;
		}

		&__media {
			@apply shrink-0 max-md:w-full md:basis-[19.875rem] h-[23.875rem] rounded-[0.5rem] overflow-hidden;

			.video-container {
				@apply h-full w-full relative bg-gray-20 overflow-hidden;
			}

			iframe {
				@apply absolute center-xy h-full w-auto max-md:min-h-[120%]  max-md:min-w-[120%] aspect-video;
			}
		}

		&__to-top {
			@apply flex gap-[0.5rem] items-center ml-auto cursor-pointer;
		}
	}

	body {
		&:not(.lang-en) {
			.footer__pre-heading {
				@apply hyphens-auto;
			}
		}
	}
}
