@layer base {
	.nav {
		@apply fixed w-full z-[100];

		&__outer {
			@apply relative transition-all duration-300 ease-[ease] z-[2] ~min-h-[3.375rem]/[4.375rem];
		}

		&__burger {
			@apply xl:hidden flex h-full items-center max-xl:relative max-xl:z-[2];

			svg {
				@apply w-[1.25rem] h-[1.25rem];

				path {
					@apply transition-all ease-[ease] duration-300;
				}
			}
		}

		&__inner {
			@apply flex justify-between gap-[2.25rem] items-center xl:items-stretch border-b-[0.0625rem] border-b-transparent transition-colors duration-300 ease-[ease];
		}

		&__logo {
			@apply flex items-center ~py-[0.75rem]/[1.25rem] max-xl:relative max-xl:z-[2];

			svg {
				@apply w-auto h-[1.75rem] max-md:h-[1.75rem];

				path {
					@apply transition-colors duration-300 ease-[ease] fill-white;
				}
			}
		}

		&__group {
			@apply flex xl:items-center max-xl:flex-col max-xl:gap-[1.5rem] max-xl:pt-[5.5rem];
		}

		&__cta {
		}

		&__logo,
		&__cta {
			@apply shrink-0;
		}

		&__item {
			@apply flex h-full items-center;

			&.parent {
				& > .nav__item-inner {
					@apply cursor-pointer;
				}

				&:hover,
				&.active {
					& > .nav__item-inner {
						.nav__square {
							@apply opacity-100;
						}
					}
				}

				&.active {
					.nav {
						&__dd {
							@screen xl {
								@apply visible pointer-events-auto;
								@apply transition-all duration-500 ease-power2-out;

								clip-path: inset(0 0 0 0);
							}
						}

						&__dd-inner {
							@screen xl {
								@apply opacity-100 translate-y-0;
								@apply transition-all duration-500 ease-power2-out delay-200;
							}
						}
					}
				}
			}
		}

		&__item-inner {
			@apply relative flex gap-[0.5rem] items-center xl:py-[1.5rem] xl:px-[1.125rem];

			p {
				@apply max-xl:text-[1.25rem] max-xl:leading-[130%] max-xl:text-black text-[1.125rem] font-kh font-normal leading-[105%] text-white;
			}
		}

		&__item-inner,
		&__dd {
			@apply max-xl:w-[100vw] max-xl:shrink-0;
		}

		&__square {
			@apply h-[0.5rem] w-[0.5rem] bg-white opacity-0 transition-opacity duration-300 ease-[ease] max-xl:hidden;
		}

		&__actions {
			@apply flex gap-[0.5rem] items-center max-xl:pt-[4rem] max-xl:pb-[2.25rem];
		}

		&__search {
			&.is-mobile {
				@apply flex justify-center items-center h-[2.6875rem] w-[2.8125rem];
			}
		}

		&__search-inner {
			@apply flex items-center justify-center p-[0.75rem] cursor-pointer;

			svg {
				@apply h-[1.1875rem] w-[1.1875rem];

				path {
					@apply transition-colors duration-300 ease-[ease] max-xl:stroke-black;
				}
			}
		}

		&__search-container {
			@apply w-full relative;

			input {
				@apply h-[2.75rem] pr-[2rem] ~text-[1.25rem]/[1.5rem] font-kh font-normal leading-[130%] border-b-[0.0625rem] border-gray-2 bg-transparent w-full;

				&,
				&::placeholder {
					@apply text-black;
				}
			}

			svg {
				@apply absolute h-[1.5rem] w-[1.5rem] right-0 center-y;
			}
		}

		&__lang {
			@apply relative cursor-pointer;

			.wpml-ls-item-toggle {
				@apply !bg-transparent !text-white flex items-center gap-[0.5rem];
				@apply ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[105%] border-none;

				&::after {
					@apply !hidden;
				}
			}

			.wpml-ls-item {
				@apply cursor-pointer;

				.wpml-ls-link:hover .wpml-ls-native {
					@apply underline underline-offset-2;
				}
			}

			.wpml-ls-native {
				@apply !m-0;
			}

			.wpml-ls-flag {
				@apply h-[1.25rem] w-[1.25rem] rounded-[50%] overflow-hidden border-[0.0625rem] border-gray-2 shrink-0;
			}

			.wpml-ls-sub-menu {
				@apply flex flex-col gap-[0.75rem];

				.wpml-ls-link {
					@apply p-0 ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[105%] text-black border-none bg-transparent flex gap-[0.5rem] items-center;
				}

				&:not(:has(*)) {
					@apply !hidden;
				}
			}

			&:not(.is-plain) {
				@apply max-xl:ml-auto;

				.wpml-ls-legacy-dropdown {
					@apply w-auto;

					&:hover {
						.wpml-ls-item-toggle > .wpml-ls-native {
							@apply underline underline-offset-[0.125rem] decoration-[0.0625rem];
						}
					}
				}

				& > svg path,
				.wpml-ls-item-toggle {
					@apply transition-colors duration-300 ease-[ease];
				}

				.wpml-ls-sub-menu {
					@apply border-[0.0625rem] border-gray-2 bg-beige p-[1.5rem] w-[10.75rem] cursor-default;
				}

				.wpml-ls-item-toggle {
					@apply !p-[0.75rem] !pl-[2.125rem];

					&::after {
						@apply !hidden;
					}

					span {
						@apply block relative bottom-[-0.0625rem];
					}

					.wpml-ls-flag {
						@apply !hidden;
					}
				}
			}

			&:not(.is-mobile):not(.is-plain) {
				& > svg {
					@apply h-[1rem] w-[1rem] absolute center-y left-[0.9375rem] mt-[0.0625rem];

					path {
						@apply stroke-white;
					}
				}

				.wpml-ls-sub-menu {
					@apply left-[50%] translate-x-[-50%];

					&::after {
						@apply text-black text-[1rem] leading-[130%] font-normal pt-[0.75rem];
					}
				}
			}

			&.is-mobile {
				@apply flex gap-[0.3125rem] items-center;

				svg {
					@apply relative;
				}

				p {
					@apply relative bottom-[-0.0625rem];
				}
			}

			&.is-plain {
				.wpml-ls-legacy-dropdown {
					@apply w-fit;
				}

				.wpml-ls-item-legacy-dropdown {
					@apply flex flex-col gap-[0.75rem];
				}

				.wpml-ls-item-toggle {
					@apply !p-0;

					.wpml-ls-native {
						@apply text-blue;
					}
				}

				.wpml-ls-sub-menu {
					@apply relative visible border-none inset-0;

					.wpml-ls-link {
					}
				}

				.wpml-ls-item-toggle,
				.wpml-ls-link {
					@apply leading-[120%];
				}
			}
		}

		&__item-inner {
			p {
				@apply transition-colors duration-300 ease-[ease];
			}
		}

		&__dd {
			@apply absolute w-full left-0 top-[calc(100%-0.0625rem)] bg-beige pointer-events-none invisible overflow-hidden;

		    @screen xl {
                clip-path: inset(0 0 100% 0);
            }
		}

		&__dd-outline {
			@apply w-full bg-grey-60 h-[0.0625rem];
		}

		&__dd-inner {
			@apply flex flex-col gap-[2.25rem] px-[7.125rem] py-[2.25rem];
			@apply xl:opacity-0 xl:translate-y-[2rem];

			&.is-search {
				@apply pb-[4rem];
			}
		}

		&__dd-main {
			@apply flex gap-[8.625rem];
		}

		&__dd-groups {
			@apply grid grid-cols-3 gap-[1.5rem] flex-1;
		}

		&__dd-group {
			@apply flex flex-col ~gap-[1.25rem]/[1.5rem];
		}

		&__dd-group-links {
			@apply flex flex-col gap-[0.75rem];
		}

		&__dd-group-link {
			@apply w-fit;

			p {
				@apply text-black-60 transition-colors duration-[400ms] ease-[ease];
				@apply relative no-underline;

				&::after {
					content: "";
					@apply absolute left-0 bottom-0 w-full h-[0.0625rem] bg-blue scale-x-0 origin-right transition-transform ease-in duration-[400ms];
					transition-property: background, transform;
				}
			}

			&:hover {
				p {
					@apply text-blue;

					&::after {
						@apply scale-x-100 origin-left ease-out;
					}
				}
			}
		}

		&__dd-bc {
			@apply flex gap-[0.5rem] items-center w-fit max-xl:mt-[3rem];

			p {
				@apply text-black-60 relative no-underline max-xl:text-black max-xl:text-[1.25rem];

				&::after {
					content: "";
					@apply absolute left-0 bottom-0 w-full h-[0.0625rem] bg-blue scale-x-0 origin-right transition-transform ease-in duration-[400ms];
					transition-property: background, transform;
				}
			}

			p,
			svg path {
				@apply transition-colors duration-[400ms] ease-out;
			}

			&:hover {
				p {
					@apply text-blue;

					&::after {
						@apply scale-x-100 origin-left ease-out;
					}
				}

				svg {
					path {
						@apply stroke-blue;
					}
				}
			}

			svg {
				@apply max-xl:hidden;
			}
		}

		&__dd-images {
			@apply basis-[19.875rem] h-[22.625rem] relative;
		}

		&__dd-image {
			@apply w-full absolute left-0 top-0 opacity-0 rounded-[0.5rem] overflow-hidden h-full transition-opacity duration-300 ease-[ease];

			img {
				@apply transition-transform duration-300 ease-[ease] scale-[1.02];
			}

			&.active {
				@apply opacity-100;

				img {
					@apply scale-100;
				}
			}
		}

		&__dd-feature {
			@apply basis-[19.875rem] h-[22.625rem] relative flex flex-col gap-[1.5rem];
		}

		&__dd-feature-inner {
			@apply flex flex-col gap-[0.75rem];

			img {
				@apply h-[14.125rem] overflow-hidden rounded-[0.5rem];
			}
		}

		&__dd-feature-cta {
			@apply flex gap-[0.75rem] items-end pb-[0.75rem] border-b-[0.0625rem] border-b-grey-60;

			p {
				@apply flex-1;
			}

			svg,
			svg path {
				@apply shrink-0 transition-transform duration-[400ms] ease-[ease];
				transition-property: stroke, transform;
			}

			svg {
				@apply h-[0.8125rem] w-[0.8125rem];

				path {
					@apply stroke-[0.0938rem];
				}
			}

			&:hover {
				svg {
					@apply translate-x-[0.25rem];

					path {
						@apply stroke-blue;
					}
				}
			}
		}

		&__overlay {
			@apply absolute top-0 left-0 w-full h-[100svh] opacity-0 invisible duration-300 ease-[ease];
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.3) 0%,
				rgba(0, 0, 0, 0.3) 100%
			);
		}

		&__dd-back {
			@apply xl:hidden flex items-center gap-[0.5rem] mb-[2.25rem] w-fit;

			&::after {
				@apply bg-blue;
			}

			p,
			svg path {
				@apply text-black-60 transition-colors ease-[ease] duration-[400ms];
			}

			&,
			p {
				@apply !no-underline !decoration-0;
			}

			&:hover {
				p {
					@apply text-blue;
				}

				svg path {
					@apply stroke-blue;
				}
			}
		}

		&__desktop {
			@apply contents max-xl:hidden;
		}

		&__mobile {
			@apply h-auto pointer-events-none flex invisible bg-beige absolute top-0 left-0 w-screen overflow-hidden z-[1];
            @apply max-xl:transition-all max-xl:duration-500 max-xl:ease-power2-out;
            clip-path: inset(0 0 100% 0);

			&:has(.nav__dd.active) {
				.nav__panel-items {
					@apply ml-[-100vw] opacity-0 translate-x-[-2.5rem];
				}
			}

			&::before {
				content: "";
				@apply absolute top-0 left-0 h-[3.375rem] w-full bg-[inherit] z-[2];
			}
		}

		&__panel-items,
		&__panel-groups {
			@apply ~px-[1.5rem]/[3rem] w-screen shrink-0;
		}

		&__panel-items {
			@apply transition-all duration-[0.6s] ease-[ease];
		}

		&__panel-groups {
			@apply pt-[4.75rem] pb-[7.5rem] max-h-[100svh] overflow-y-auto overflow-x-clip;

			.nav {
				&__dd {
					@apply relative top-0 opacity-0 h-0;
					@apply transition-all duration-[0.6s] ease-[ease] delay-200 translate-x-[2.5rem];

					&.active {
						@apply pointer-events-auto opacity-100 visible h-auto translate-x-0;
					}
				}

				&__dd-inner {
					@apply p-0 gap-0;
                    @apply transition-all duration-[0.6s] ease-[ease];
				}

				&__dd-groups {
					@apply max-sm:grid-cols-1 max-xl:grid-cols-2 gap-[2.25rem];
				}

				&__dd-main {
					@apply flex flex-col gap-[3rem];
				}

				&__dd-feature {
					@apply max-sm:max-w-full max-xl:max-w-[25rem];
				}
			}
		}

		&.nav-hidden {
			@apply pointer-events-none;

			.nav__outer {
				@apply translate-y-[-100%];
			}

			.container {
				@apply pointer-events-none;
			}
		}

		&.dark {
			.nav {
				&__outer {
					@apply bg-black;
				}
			}

			&:not(.scrolled):not(.mob-active) {
				.nav {
					&__burger {
						svg path {
							@apply stroke-white;
						}
					}
				}
			}
		}

		&.light,
		&.regular {
			.nav {
				&__outer {
					@apply bg-transparent;
				}
			}
		}

		&.light:not(.scrolled):not(.mob-active) {
			.nav {
				&__burger {
					svg path {
						@apply stroke-white;
					}
				}
			}
		}

		&.scrolled {
			.nav {
				&__outer {
					@apply bg-white;
				}
			}
		}

		&.scrolled,
		&.regular,
		&.mob-active,
		&:has(.nav__item.parent.active) {
			.nav {
				&__logo {
					svg {
						path {
							@apply fill-dark-blue;
						}
					}
				}

				&__item-inner {
					p {
						@apply text-black;
					}
				}

				&__lang {
					.wpml-ls-item-toggle {
						@apply !text-black;
					}

					& > svg path {
						@apply stroke-black;
					}
				}

				&__search {
					svg {
						path {
							@apply stroke-black;
						}
					}
				}

				&__square {
					@apply bg-black;
				}
			}
		}

		@screen xl {
			&:hover {
				.nav {
					&__outer {
						@apply bg-white;
					}

					&__logo {
						svg {
							path {
								@apply fill-dark-blue;
							}
						}
					}

					&__item-inner {
						p {
							@apply text-black;
						}
					}

					&__lang {
						.wpml-ls-item-toggle {
							@apply !text-black;
						}

						& > svg path {
							@apply stroke-black;
						}
					}

					&__search {
						svg {
							path {
								@apply stroke-black;
							}
						}
					}

					&__square {
						@apply bg-black;
					}
				}
			}
		}

		&:has(.nav__item.parent.active) {
			.nav {
				&__inner {
					@apply border-b-grey-60;
				}
			}
		}

		&:has(.nav__item.parent:hover),
		&:has(.nav__item.parent.active),
		&.mob-active {
			.nav {
				&__outer {
					@apply xl:bg-beige;
				}
			}
		}

		&:has(.nav__item.parent.active),
		&.mob-active {
			.nav {
				&__overlay {
					@apply opacity-40 visible;
				}
			}
		}

		&:not(:has(.nav__item.parent.active)) {
			.nav__dd {
				@apply transition-all duration-500 ease-power2-out;
			}
		}

		&.mob-active {
			.nav {
				&__burger {
					path {
						@apply stroke-black;

						&:nth-child(1) {
							transform: rotate(45deg) translate(0.3125rem, -1.0625rem);
						}

						&:nth-child(2) {
							@apply hidden;
						}

						&:nth-child(3) {
							transform: rotate(-45deg) translate(-0.625rem, 0.25rem);
						}
					}
				}

				&__mobile {
					@apply pointer-events-auto visible;
					clip-path: inset(0 0 0 0);
				}
			}
		}
	}
}
