@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "typography";
@import "header";
@import "footer";
@import "global";
@import "image";
@import "buttons";
@import "dialog";
@import "spacings";
@import-glob "../../../blocks/**/*.css";

@layer base {
	* {
		outline: none;
		box-sizing: border-box;
	}

	html {
		@apply font-kh font-normal m-0 p-0 max-w-[100svw] min-w-full w-full h-[100svh] min-h-[100svh] max-h-[100svh] text-black text-[1rem] min-[120rem]:text-[clamp(100%,0.66vw,300%)];
		/* overscroll-behavior: none;
		scroll-behavior: none; */

		@apply overflow-x-clip;
		@apply overflow-y-auto;

		&.disable-scrolling,
		&:has(dialog[open]) {
			@apply overflow-hidden;
		}
	}

    html,
    * {
        /* scroll-behavior: smooth !important; */
    }

	body {
		@apply bg-none max-w-[inherit] min-w-[inherit] w-[inherit] m-0 p-0;
		/* @apply overflow-hidden; */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		box-sizing: border-box;
	}

	#smooth-content {
		/* will-change: transform; */
		/* border-top: 1px solid black;
		border-bottom: 1px solid black; */
        overflow-y: clip !important;
	}

	.ui-selectmenu-icon {
		@apply !hidden;
	}
}

body {
	&.error404 {
		@apply bg-black;
	}
}
