@layer components {
	.content-secondary-nav {
		@apply z-[99] overflow-y-visible overflow-x-clip h-0;

		.s-nav {
			@apply lg:will-change-transform transition-colors duration-300 ease-[ease];
		}

		.s-nav-outer {
			@apply relative transition-all duration-300 ease-[ease] bg-inherit;
			backface-visibility: hidden;
			-webkit-font-smoothing: subpixel-antialiased;
		}

		.s-nav-inner {
			@apply flex items-center max-lg:hidden;
		}

		.item {
			@apply lg:py-[0.75rem] lg:px-[0.75rem];

			&:first-child {
				@apply pl-0;
			}

			&,
			* {
				@apply cursor-pointer;
			}

			&.parent {
				@apply relative;

				svg {
					@apply transition-transform duration-300 ease-[ease];
				}

				&:hover {
					svg {
						@apply rotate-180 translate-y-[-0.125rem];
					}

					.item-children {
						@apply opacity-100 visible pointer-events-auto;
					}

					.item-child {
						@apply translate-x-0 opacity-100;
					}
				}
			}
		}

		.item,
		.item-child {
			@apply lg:underline-offset-[0.125rem] decoration-[0.0625rem] lg:hover:underline;
		}

		.item-inner {
			@apply flex items-center gap-[0.25rem];
		}

		.item-children {
			@apply absolute top-[calc(100%-0.0625rem)] pt-[0.0625rem] left-[-1.5rem] flex ~gap-[1.25rem]/[1.5rem] px-[1.5rem] opacity-0 invisible pointer-events-none;

			&::before {
				content: "";
				@apply absolute top-0 bg-inherit w-full h-full center-x min-w-[200vw];
			}
		}

		.item-child {
			@apply pb-[0.75rem] relative z-[2] min-w-fit opacity-0 lg:whitespace-nowrap;
			@apply translate-x-[0.625rem] transition-all duration-300 ease-[ease] will-change-transform;
			backface-visibility: hidden;
		}

		.s-nav-mobile {
			@apply lg:hidden;

			&:has(.s-nav-mobile-select.open) {
				.s-nav-mobile-dd {
					@apply opacity-100 pointer-events-auto visible;
					clip-path: inset(0% 0% 0% 0%);
				}

				.s-nav-mobile-select {
					svg {
						@apply rotate-0 translate-y-0;
					}
				}
			}
		}

		.s-nav-mobile-select {
			@apply flex items-center gap-[1.25rem] py-[0.75rem] justify-between;

			svg {
				@apply transition-transform duration-300 ease-[ease] rotate-180 translate-y-[-0.125rem];
			}
		}

		.s-nav-mobile-dd {
			@apply bg-beige opacity-0 pointer-events-none invisible absolute top-[calc(100%-0.0625rem)] left-0 w-full;
			@apply transition-all duration-300 ease-[ease];
			clip-path: inset(0% 0% 100% 0%);
		}

		.s-nav-mobile-dd-inner {
			@apply flex flex-col py-[1.25rem] gap-[0.75rem];
		}

		.s-nav-mobile-item {
			@apply w-full;

			.item {
				@apply w-full;

				&.parent {
					@apply flex flex-col gap-[0.75rem];
				}
			}

			.item-children {
				@apply relative flex flex-col gap-[0.75rem] visible pointer-events-auto opacity-100 left-0 top-0 px-[0.75rem];
			}

			.item-child {
				@apply opacity-100 translate-x-0 pb-0;
			}
		}

		&.active {
			.s-nav {
				@apply bg-white;
			}

			.s-nav-outer {
				@apply border-grey-60;
			}
		}
	}
}

@layer base {
	body:has(main > section.content-secondary-nav:first-child) {
		.nav__inner {
            @apply border-b-grey-60;
		}
	}

	body:has(nav:not(.nav-hidden)) {
		.content-secondary-nav.active {
			.s-nav-outer {
				@apply ~translate-y-[3.375rem]/[4.3125rem];
			}
		}
	}

	main > section.content-secondary-nav:first-child {
		.s-nav-outer {
			@apply ~translate-y-[3.375rem]/[4.3125rem];
		}
	}

	body:has(nav.nav-hidden) {
		main > section.content-secondary-nav:first-child {
			.s-nav-outer {
				@apply translate-y-0;
			}
		}
	}

	/* body:has(nav.scrolled.nav-hidden) {
		main > section.content-secondary-nav:first-child {
			&.active {
				.s-nav-outer {
					@apply translate-y-0;
				}
			}
		}
	} */

	body:has(nav:not(.nav-hidden):not(.scrolled)) {
		main > section.content-secondary-nav:first-child {
			.s-nav {
				@apply bg-transparent;
			}

			.s-nav-outer {
				@apply border-transparent;
			}
		}
	}
}
