@layer components {
	.content-full-width-video {
		.video-container {
			@apply ~h-[10rem]/[42.875rem] w-full relative bg-black overflow-hidden rounded-[0.5rem];
		}

		iframe {
			@apply absolute center-xy h-full w-auto aspect-video;
		}

		.video-box {
			@apply relative rounded-[0.5rem] overflow-hidden;
		}

		.video-thumbnail {
			@apply absolute top-0 left-0 h-full w-full z-[2];

			img {
				@apply absolute top-0 left-0 object-cover h-full w-full z-[1];
			}
		}

		.video-play {
			@apply rounded-[50%] h-[5.25rem] w-[5.25rem] overflow-hidden left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] absolute bg-black-60 cursor-pointer z-[3] flex items-center justify-center text-center;
		}

		.gradient-overlay {
			@apply absolute top-0 left-0 w-full h-full z-[2] opacity-80;
			background: radial-gradient(rgba(38, 38, 38, 0) 0%, #000000c4 100%);
		}
	}
}
