@layer components {
	.content-cards-icon-hover {
		.item {
            @apply bg-blue rounded-[8px] overflow-hidden p-[1.5rem] lg:min-h-[17.75rem] relative;

            &:hover {
                .item-content {
                    @apply lg:!translate-y-0;
                }

                .item-desc {
                    @apply lg:opacity-100;
                }
            }

            &:not(.active) {
                .item-content {
                    @apply lg:opacity-0;
                }
            }

            &.active {
                .item-content {
                    @apply transition-transform duration-[400ms] ease-out;
                }
            }
        }

        .item-title {
            @apply flex gap-[1rem] items-center;

            h6 {
                @apply flex-1;
            }

            svg {
                @apply h-[1.25rem] w-[1.25rem] shrink-0 flex;
            }
        }
        
        .item-content {
            @apply flex flex-col lg:mt-auto max-lg:!translate-y-0;
        }

        .item-desc {
            @apply text-white pt-[0.75rem] opacity-100 lg:opacity-0 transition-opacity duration-[400ms] ease-out;
        }
	}
}
