@layer components {
	.content-simple-table {
		.table-container {
			@apply overflow-x-auto;
		}

		table {
			@apply w-full table-fixed min-w-[37.5rem];

			th,
			td {
				@apply text-center;

				&:first-child {
					@apply text-left;
				}
			}

			th {
				@apply p-[0.75rem] border-b-[0.0625rem] border-black;
				@apply ~text-[1.25rem]/[1.5rem] font-kh font-normal leading-[130%];
			}

			td {
				@apply border-b-[0.0625rem] border-gray-2 px-[0.75rem] py-[1.25rem] bg-white;
				@apply ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[130%];
				@apply transition-colors duration-300 ease-[ease];
			}

			tr {
				&:hover {
					td {
						@apply bg-beige;
					}
				}
			}
		}
	}
}
