@layer components {
	.content-fifty-fifty-image-vertical-tabs {
		&.is-inverted {
			.inner {
				@apply md:flex-row-reverse;
			}
		}

		.item-image {
			@apply absolute w-full;
			@apply invisible opacity-0 translate-y-[3.75rem] will-change-transform;

			&.active {
				@apply transition-all duration-[600ms] ease-out translate-y-0;
				@apply relative opacity-100 visible;
			}
		}

		.item {
			@apply transition-colors duration-300 ease-[ease];

			&.active {
				@apply border-t-blue;

				.item-inner-image {
					img {
						@apply max-md:transition-all max-md:duration-[300ms] max-md:ease-out max-md:translate-y-0 max-md:h-auto max-md:mb-[0.75rem];
						@apply max-md:opacity-100 max-md:visible;
					}
				}
			}
		}

		.item-inner-image {
			img {
				@apply object-top h-0 rounded-[0.5rem] object-contain overflow-hidden;
				@apply invisible opacity-0 translate-y-[1.25rem] will-change-transform;
			}
		}
	}
}
