@layer components {
	.content-two-across-cards-bullets {
		.items {
            @apply ~gap-[1.5rem]/[2.25rem];

			&:not(.is-special) {
				@apply grid lg:grid-cols-2;
			}

			&.is-special {
                @apply flex max-lg:flex-col lg:flex-wrap;

                .item {
                    @apply max-lg:w-full;

                    &:first-child {
                        @apply lg:basis-full;

                        .item-inner {
                            @apply lg:w-[50%];
                        }
                    }
                }
			}
		}

		.item {
            @apply flex-1 flex items-center justify-center;
		}

        .item-inner {
            @apply border-[0.0625rem] rounded-[0.5rem] bg-beige border-gray-2 ~p-[1.5rem]/[2.25rem] transition-colors duration-500 ease-power2-out hover:bg-white h-full;
        }
	}
}
