@layer components {
    .content-simple-accordion {
        .tab {
            @apply cursor-pointer rounded-[2.8125rem] px-[0.75rem] py-[0.5rem] border-[0.0625rem] border-black;
            
            &, p {
                @apply transition-all duration-300 ease-[ease];
            }

            &.active,
            &:hover {
                @apply bg-blue border-blue;

                p {
                    @apply text-white;
                }
            }
        }
        
        .panel {
            @apply flex flex-col absolute;
            @apply invisible opacity-0 translate-x-[-1.5rem] will-change-transform;

            &.active {
                @apply transition-all duration-[400ms] ease-[ease];
                @apply relative opacity-100 visible translate-x-0;
            }
        }

        .acc {
            @apply pb-[0.75rem] border-t-[0.0625rem] border-t-gray-2;

            &.active {
                .acc-head {
                    svg path:nth-child(2) {
                        @apply opacity-0;
                    }
                }

                .acc-body {
                    @apply h-auto;
                }

                .acc-body-inner {
                    @apply opacity-100 visible translate-y-0;
                    @apply transition-all duration-300 ease-out;
                }
            }
        }

        .acc-head {
            @apply ~pt-[1.25rem]/[1.5rem] ~pb-[0.625rem]/[0.75rem] flex ~gap-[0.75rem]/[1.25rem] justify-between cursor-pointer;

            svg {
                @apply top-[0.3438rem] relative;

                path:nth-child(2) {
                    @apply transition-opacity duration-300 ease-out;
                }
            }
        }

        .acc-body {
            @apply h-0;
        }

        .acc-body-inner {
            @apply ~pb-[0.625rem]/[0.75rem] max-w-[48.375rem];
            @apply invisible opacity-0 translate-y-[1.25rem];
        }
    }
}