@layer components {
	.content-image-carousel {
		.swiper-container {
			.swiper-wrapper {
				transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
			}

			.swiper-slide {
				@apply rounded-[0.5rem] overflow-hidden ~h-[18.5rem]/[34.875rem] w-auto relative;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                &:nth-child(even) {
                    /* @apply ~w-[25.75rem]/[48.5rem]; */
                }
			}
		}

        .video-container {
			@apply h-full w-full relative bg-pitch-black aspect-video;
		}

        .video-thumbnail {
            @apply absolute top-0 left-0 h-full w-full z-[3];

            img {
                @apply absolute top-0 left-0 object-cover h-full w-full z-[1];
            }
        }

        .gradient-overlay {
			@apply absolute top-0 left-0 w-full h-full z-[2];
			background: linear-gradient(
				180deg,
				rgba(38, 38, 38, 0) 0%,
				#000 100%
			);
		}

        .video-play {
            @apply absolute bottom-[0.75rem] right-[0.75rem] flex items-center z-[3] cursor-pointer transition-transform hover:scale-[110%] duration-300 ease-[ease] will-change-transform;
        }

		iframe {
			@apply absolute center-xy h-full w-full z-[1];
		}
	}
}
