@layer components {
	.content-map {
		.map-container {
			@apply h-[40.125rem] rounded-[0.5rem] overflow-hidden;
		}

		.map-orb {
			@apply h-[2.5rem] w-[2.5rem] rounded-[50%] text-white flex items-center justify-center text-center border-[0.0625rem] border-green bg-[#2D3C31];
			@apply ~text-[0.9375rem]/[1rem] font-kh font-normal leading-[130%];
			@apply transition-transform duration-200 ease-in-out delay-100;
			box-shadow: 0px 0px 30px 0px #6aff96;

			&:hover {
				transform: scale(1.2);
			}
		}

        .map-label {
            @apply ~text-[0.9375rem]/[1rem] font-kh font-normal leading-[130%] text-white;
        }
	}
}
