@layer components {
    .hero-image-dark-bg {
        .media-container-outer {
            @apply ~px-[0rem]/[7.875rem] w-full;
            @apply opacity-0;

            &.image {
                .orb-container {
                    @apply min-w-[200%] md:min-w-[170%];
                }
            }

            &.video {
                .video-container {
                    @apply h-full w-full relative bg-black overflow-hidden rounded-[0.5rem] aspect-video;
                }
        
                iframe {
                    @apply absolute center-xy h-full w-auto aspect-video;
                }

                .orb-container {
                    @apply min-w-[170%] md:min-w-[150%];
                }
            }
        }
        
        .video-box {
            @apply relative rounded-[0.5rem] overflow-hidden;
        }

        .video-thumbnail {
            @apply absolute top-0 left-0 h-full w-full z-[3];

            img {
                @apply absolute top-0 left-0 object-cover h-full w-full z-[1];
            }
        }

        .video-play {
            @apply rounded-[50%] h-[5.25rem] w-[5.25rem] overflow-hidden left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] absolute bg-black-60 cursor-pointer z-[4] flex items-center justify-center text-center;
        }

        .gradient-overlay {
            @apply absolute top-0 left-0 w-full h-full z-[3] opacity-80;
            background: radial-gradient(rgba(38, 38, 38, 0) 0%, #000000c4 100%);
        }

        .orb-container {
            @apply z-[1] absolute center-xy h-auto pointer-events-none;

            img {
                @apply object-contain;
            }
        }

        .media-container {
            @apply rounded-[0.5rem] outline-[#000] ~outline-[0.25rem]/[0.75rem] relative;
            outline-style: solid;

            img:not(.orb), .video-container {
                @apply relative z-[2] rounded-[0.5rem] overflow-hidden;
            }
        }
    }
}