.acf-field-bynder-video {
	.acf-bynder-wrapper {
		display: flex;
		gap: 20px;
		flex-direction: column;
		width: fit-content;

		.open-bynder {
			width: fit-content;
		}

		.bynder-preview {
            width: 266px;
			position: relative;
			display: flex;
			gap: 20px;
			padding: 10px 12px;
			background: #ffffff;
			border-radius: 4px;
			border: #ccd0d4 solid 1px;

			&:hover {
				.bynder-asset-remove {
					opacity: 1;
				}
			}
		}

		.bynder-asset {
			display: flex;
			gap: 6px;
			flex-direction: column;
            width: 100%;

			img {
				height: 140px;
				width: 100%;
				object-fit: cover;
			}

			p {
				margin: 0;
				line-height: normal;
			}
		}

		.bynder-asset-remove {
			opacity: 0;
			transition: all 0.1s ease-in-out;
			position: absolute;
			top: 6px;
			right: 6px;
			cursor: pointer;
			will-change: transform;

			&:hover {
				transform: scale(1.1);
			}
		}

		&:has(.bynder-asset p) {
			.open-bynder {
				display: none;
			}
		}

		&:not(:has(.bynder-asset p)) {
			.bynder-preview {
				display: none;
			}
		}
	}
}
